  #coco-main{
    background-image: url("../images/coco-background.jpeg");
    background-color: white;
    text-align: center;
  }

  #coco-main p{
    color: white;
  }

  #coco-main .flipcard-back p {
    color: black;
  }

  #coco-main > .movie-poster{
    padding: 10px;
  }

  h1, p{
    font-family: 'League Spartan', sans-serif;
  }

  input[type=text], select, textarea[id="other-movies"] {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px; 
    padding: 10px;
    box-sizing: border-box; 
    margin-top: 5px; 
    margin-bottom: 10px;
    resize: vertical
  }
  
  input[type=submit] {
    background-color: #1c3a46;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #346d83;
  }
  
  .container {
    border-radius: 5px;
    background-color: #e2e2e2;
    padding: 20px;
    font-family: 'League Spartan', sans-serif;
  }

  .container legend {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .flexbox {  
    display: flex;  
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
  }

  .flexbox > li {  
    flex: 1;  
  }


nav ul{
  background-color: #FFEECF;
  border-radius: 25px;
  box-shadow: 5px 5px teal;
  margin: 20px;
  padding: 8px;
}

nav ul{
  text-align: center;
}

nav li{
  padding: 10px 20px;
  display: inline-block;
  font-family: 'League Spartan', sans-serif;
}

.active{
  background-color: #ffdc9b;
  font-weight: bold;
  border: 3px dashed #ffd17b; 
  border-radius: 10px;
}

a:focus {
  background-color: #ffd993;
  font-weight: bold;
  border: 3px dashed #faaf24; 
  border-radius: 10px;
}

a{
  font-size: 18px;
  color: #326273;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 2;
}

a.skip{
  left: -500px;
  position: absolute;
  background: white;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: left 1s ease-out;
  z-index: 1;

  font-size: 16px;
  color: #ffffff;
  background-color: #326273;
  text-decoration: none;
  text-transform: lowercase;
  line-height: 2;
  border-radius: 10px;
  box-shadow: 4px 4px #1c3a46;
  margin: 25px;
  padding: 10px;
}

a.skip:focus{
  position: absolute;
  left: 0px;
  top: 20px;
  border: none;
  outline: none;
}

a:hover{
  color: #608d9e;
  text-decoration: underline;
}

body{
  font-family: Sans-serif;
  margin: 10px;
  padding: 10px;
}

h1{
  font-size: 32px;
  color: #326273;
  font-weight: bold;
  margin: 20px;
  padding: 10px;
}

p{
  font-size: 14pt;
  color: #000000;
  line-height: 2;
  padding: 10px;
  margin: 20px 10px;
  text-align: justify;
}

img.movie-poster{
  max-width: 400px;
  justify-items: center;
  padding: 0px;
  width: 100%;
  height: auto;
  margin: auto;
  display: block;
  border-radius: 5px;
  border: 2px #0c688a dashed;
}

img{
  width: 100%;
  padding: 3px;
  margin: 2px;
  border: 2px solid #7299E1;
  border-radius: 5px;
}

img:nth-child(2n):hover{
  filter: grayscale();
  transform: scale(1.05);

}

ul{
  list-style: square;
  color: #102A51;
}

footer{
  color: #1C64D3;
}

.fa-solid{
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: #3c595e;
}

.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
  margin: 10px;
  justify-items: center;
  align-items: center;
}

.movie-poster1{
  grid-column: 1 / span 1;
  overflow: hidden;
}

.movie-poster2{
  grid-column: 2 / span 1;
  overflow: hidden;
}

.movie-poster3 {
  grid-column: 3 / span 1;
  overflow: hidden;
}

.img_container{
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 25px;
  margin: 20px;
  justify-items: center;
  align-items: center;
}


#spiritedaway-poster, #coco-poster, #chungking-poster{
  animation-name: slidein;
  animation-duration: 5s;
  border: none;
  border-radius: 0px;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 250%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}



.intro{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-self: center;
}

.flipcard {
  grid-column: 1;
  background-color: transparent;
  margin: 0 auto;
  width: 300px;
  height: 450px;
  border: 1px solid #f1f1f1;
  display: block;
  position: relative;
}

.flipcard-back {
  text-align: center;
  align-self: stretch;
}


.intro-paragraph {
  display: none;
}

/* This container is needed to position the front and back side */
.flipcard-inner {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flipcard:hover .flipcard-inner, .flipcard:active .flipcard-inner, .flipcard:focus .flipcard-inner, .flip-card:focus-within .flipcard-inner{
  transform: rotateY(180deg);
}

.flipcard.focus-within .flipcard-inner{
  transform: rotateY(180deg);
}


/* Position the front and back side */
.flipcard-front, .flipcard-back {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}


/* Style the front side (fallback if image is missing) */
.flipcard-front {
  background-color: #f1f1f1;
  display: block;
  color: black;
}

/* Style the back side */
.flipcard-back {
  background-color: #FFEECF;
  display: block;

  color: white;
  transform: rotateY(180deg);
}

#howto-button {
  background-color: #326273;
  border: none;
  border-radius: 10px;
  box-shadow: 4px 4px #1c3a46;
  color: white;
  width: 80%;
  margin: auto;
  padding: 10px 30px;
  text-align: center;
  font-family: 'League Spartan', sans-serif;
  text-decoration: none;
  display: block;
  font-size: 18px;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.5); 
}

.modal-content {
  background-color: #c5d4dd;
  margin: 20% auto; 
  padding: 15px;
  border: 1px solid #888;
  border-radius: 15px;
  width: 70%; 
}

.close {
  color: rgb(141, 138, 138);
  float: right;
  font-size: 25px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.coco_container{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.coco_img {
  margin: 10px;
  width: 85%;
}

.contact-picture {
  background-image: url('../images/contact-film.jpeg');
  background-color: #707070; 
  min-height: 200px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.contact-p {
  text-align: center;
  margin: 0 auto;
}


@media (prefers-reduced-motion) {
  #spiritedaway-poster, #coco-poster, #chungking-poster {
    animation: none;
  }

  .flipcard-inner {
    transition: transform none;
  }

  .contact-picture {
    background-attachment: initial;
  }
}

@media screen and (min-width: 520px){

  .img_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    margin: 20px;
    justify-items: center;
    align-items: center;
  }

  #japan_onsen{
    grid-column: 1 / span 2;
  }

  #spiritedaway_gods{
    grid-column: 1 / span 2;
  }

  #spiritedaway_parents{
    grid-column: 1 / span 1;
  }

  #spiritedaway_pigs{
    grid-column: 2 / span 1;
  }

  #spiritedaway_name{
    grid-column: 1 / span 2;
  }

  #spiritedaway_noface{
    grid-column: 1 / span 2;
  }
  
  .main-img{
    grid-column: 1 / span 2;
  }
  
  .intro{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-self: center;
  }
  
  .flipcard {
    grid-column: 1;
    background-color: transparent;
    width: 400px;
    height: 600px;
    border: 1px solid #f1f1f1;
    display: block;
    position: relative;
  }
  
  .intro-paragraph {
    display: unset;
    grid-column: 2;
  }
  

}

@media screen and (min-width: 1000px){

  .img_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    margin: 15px;
    justify-items: center;
    align-items: center;
  }

  #japan_onsen{
    grid-column: 1 / span 2;
  }

  #spiritedaway_gods{
    grid-column: 3 / span 2;
  }

  #spiritedaway_parents{
    grid-column: 1 / span 2;
  }

  #spiritedaway_pigs{
    grid-column: 3 / span 2;
  }

  #spiritedaway_name {
    grid-column: 1 / span 1;
  }

  #spiritedaway_noface {
    grid-column: 2 / span 3;
  }

  #spiritedaway_clothes {
    grid-column: 1 / span 2;
  }

  #japan_kimono {
    grid-column: 3 / span 2;
  }
  
  .main-img{
    grid-column: 2 / span 2;
  }
}